<!-- preloads -->
<link
  rel="preload"
  href="/static/fonts/inter/inter-v7-latin-500.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/static/fonts/inter/inter-v7-latin-700.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/static/fonts/redhat/red-hat-display-v7-latin-900.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link rel="preload"
href="/static/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2"
as="font" type=font/woff2 crossorigin />

<link rel="me" value="https://chrismcleod.dev" />
<link rel="me" value="https://social.lol/@chrisplusplus" />

<link rel="stylesheet" href="/static/css/override.css" />
