{{ if strings.Contains .Site.BaseURL "worldsinminiature.com" }}
<a href="/">
  <img
    src="https://worldsinminiature.com/uploads/2024/g5256-300x300.png"
    width="80"
    height="80"
    alt="the Worlds In Miniature logo - the outlines of two crossed paintbrushes beneath the outline of a six-sided dice with the 5-pip side facing forward"
    class="u-photo"
  />
</a>
{{ else }}
<a href="/">
  <img
    src="https://micro.chrismcleod.dev/uploads/2024/favicon.png"
    width="80"
    height="80"
    alt="the site logo, which resembes a stylised, angular explosion."
    class="u-photo"
  />
</a>
{{ end }}
